working with pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
# we create on dataset
data = { 
    'apples':[3, 2, 0, 1] , 
    'oranges':[0, 3, 7, 2] 
}
df = pd.DataFrame(data)
print(df)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [4]:
#indexing own dataframe
df = pd.DataFrame(data, index=['Ahmad','usman','sara','faiza'])
print(df)

       apples  oranges
Ahmad       3        0
usman       2        3
sara        0        7
faiza       1        2

In [5]:
import pandas as pd
data = {
    'row_1': [3, 2, 1, 0],
    'row_2': ['a', 'b', 'c', 'd']
}
df = pd.DataFrame.from_dict(
    data,
    orient='index',
    columns=['A', 'B', 'C', 'D']
)
print(df)

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

In [6]:
#working with csv files
#Load datset
iris_df = pd.read_csv(r'C:\Users\PC\Desktop\Huawei Traning\Traning\iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
#check Data info
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
#checking dataset shape
iris_df.shape

(150, 5)

In [9]:
#check Dataset last few lines
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [10]:
#checking duplicates and removing it
iris_df = iris_df.drop_duplicates()
iris_df.shape

(147, 5)

In [11]:
#Understanding your variables
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    147.000000   147.000000    147.000000   147.000000
mean       5.856463     3.055782      3.780272     1.208844
std        0.829100     0.437009      1.759111     0.757874
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
#checking missing values
iris_df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [13]:
#if your dataset is not contain on missing values you should try to create missing vlues and then handle it
iris_df.loc[0,['sepal_length','sepal_width','petal_length','petal_width']] = np.nan
iris_df.loc[14,['sepal_length','sepal_width','petal_length','petal_width']] = np.nan
iris_df.loc[20,['sepal_length','sepal_width','petal_length','petal_width']] = np.nan

In [15]:
#if you want to drop that row which contain missing values
iris_df = iris_df.dropna(axis=0)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [16]:
#Handle Missing values with function mean mediam mode or unknown
iris_df = iris_df.fillna(iris_df.mean(numeric_only=True))
iris_df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [17]:
#checking data type of Dataframe
iris_df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

We also fill missing values by using ffill or bfill method
iris_df = iris_df.fillna(method=ffill) forward fill
iris_df = iris_df.fillna(method=bfill) backward fill